<h1>New Teacher</h1>
<%= form_for(:teacher, url: {action: 'create'}) do |f| %>

  <%= f.text_field :first_name %>
  <%= f.text_field :last_name  %>
  <br>
  <%= submit_tag "Create Teacher"  %>
<% end %>
